.singup-component {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    background-color:white; 
  }
.signup-form-container{
    background-color:color-mix(in srgb, color percentage, color percentage);
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 7px 2px #a74a0cc4;
  }
.signup-remover{
    display: flex;
    justify-content: end;
  }
.signup-remover i:hover{
     
      color: red;
      transform: rotate(15deg);
      font-size: 20px;
    
  }
.signup-header{
    display: flex;
    justify-content:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
  
  
.form-inputs {
    margin-bottom: 20px;
}
.form-inputs label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
    color: #555555; 
  }
  
.form-inputs input[type="text"],
  input[type="password"] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #cccccc; 
    border-radius: 7px; 
    font-size: 14px; 
    box-sizing: border-box;
  }
  .signup-submit{
    /* display: flex;
    justify-content: center; */
    text-align: center;
  }
  .signup-submit input[type="submit"] {
    width: 50%; 
    padding: 10px; 
    background-color:coral; 
    color: white; 
    border: none; 
    border-radius: 20px; 
    font-size: 16px; 
    transition: text-decoration  2s ease ; 
    
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3; 
    cursor: pointer;
    
  }
  
  span {
    font-size: 12px; 
     
  }
.signup-login{
  text-align: center;
  margin-top: 5px;
  
}
.signup-login a{
  text-decoration: underline;
}
